<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.owner.colorcodequiz" >


    <application android:name="com.example.owner.colorcodequiz.ColorCodeQuizApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ColortoCode_practiceActivity"
            android:label="@string/title_activity_colorto_code_practice" >
        </activity>
        <activity
            android:name=".ColortoCodeActivity"
            android:label="@string/title_activity_colorto_code" >
        </activity>
        <activity
            android:name=".CodetoColorActivity"
            android:label="@string/title_activity_codeto_color" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".menu2Activity"
            android:label="@string/title_activity_menu2" >
        </activity>
        <activity
            android:name=".menu3Activity"
            android:label="@string/title_activity_menu3" >
        </activity>
    </application>

</manifest>
